<h1>Welcome</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>


<h2>User can choose a CSV file.</h2>
<%= form_tag import_csv_home_index_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group">
    <%= label_tag :headers, "If you want custom headers" %>
    <%= text_field_tag :headers, nil, class: 'form-control', placeholder: "e.g. name, age, group" %>
  </div><br><br>
  <div class="form-group">
    <%= label_tag :file %>
    <%= file_field_tag :file, class: 'form-control' %>
  </div>
  <%= submit_tag 'Import CSV', class: 'btn btn-info' %>
<% end %>

<h2>User can set a default CSV file.</h2>
<%= link_to 'Quick Default Import', quick_import_path, class: 'btn btn-warning' %>
